
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AadUserCreation.Models.GroupUser

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col"><h1>Manage user departments and apps</h1></div>
    <input name="hiddenMailAccountDomain" id="hiddenMailAccountDomain" type="hidden" value=@ViewBag.MailAccountDomain />
</div>
<div>
    <form method="post" asp-action="GetUser" asp-controller="Home" enctype="multipart/form-data" id="userPost_form">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">    </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty" data-upgraded=",MaterialTextfield">
                    <input asp-for="UPN" id="emailupn_input_text" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="UPN">Email</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col"></div>
            <div class="mdl-cell mdl-cell--2-col">    </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--4-col"></div>
            <div class="mdl-cell mdl-cell--2-col">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="process_button" >
                    Get user details
                </button>
            </div>
            <div class="mdl-cell mdl-cell--2-col">    </div>
        </div>
    </form>
</div>


<div class="mdl-grid" id="divProcessing">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col" align="center">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>


<script src="~/js/Edit2ProccesingUser.js"></script>


