@{
    ViewData["Title"] = "Home Page";
}
@model AadUserCreation.Models.User

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col"><h1>Create user</h1></div>
    <input name="hiddenMailAccountDomain" id="hiddenMailAccountDomain" type="hidden" value=@ViewBag.MailAccountDomain />
</div>
<div>
    <form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data" id="userPost_form">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input asp-for="FirstName" id="firstname_input_text" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="Firstname">First name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input asp-for="Suffix" id="suffix_input_text" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="Suffix">Suffix</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input asp-for="LastName" id="lastname_input_text" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="Lastname">Last name</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty" data-upgraded=",MaterialTextfield">
                    <input asp-for="DisplayName" id="displayname_input_text" readonly class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="Displayname">Displayname</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty" data-upgraded=",MaterialTextfield">
                    <input asp-for="UPN" id="emailupn_input_text" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="UPN">Email</label>
                </div>

                <div class="mdl-selectfield  mdl-js-textfield mdl-textfield--floating-label is-dirty" data-upgraded=",MaterialTextfield">
                    <label class="mdl-textfield__label" for="Email">Department</label>
                    <select class="browser-default" asp-for="Department" id="departmentlist_input_text" asp-items="ViewBag.DepartmentList"></select>
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--4-col"></div>
            <div class="mdl-cell mdl-cell--2-col">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="process_button" disabled>
                    Process
                </button>
            </div>
            <div class="mdl-cell mdl-cell--2-col">    </div>
        </div>
    </form>
</div>
<div class="mdl-grid" id="divProcessing">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col" align="center">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<div class="mdl-grid" id="errorNotify" style="display: none;">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col" align="center">
        <table border=0>
            <tr class="rowClass">
                <td class="cellClass">
                    <div class="divClass"><i class="material-icons" style="font-size:60px;color:red;">error</i></div>
                </td>
                <td class="cellClass">
                    <div class="divClass">Error, please contact administrator. <BR /> Refresh page for a new try.</div>
                </td>
            </tr>
        </table>
        
        
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<dialog id="dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Succes</h3>
    <div class="mdl-dialog__content">

        <table border=0>
            <tr class="rowClass">
                <td class="cellClass">
                    <div class="divClass">
                        <i class="material-icons" style="font-size:60px;color:green;">done</i>
                    </div>
                </td>
                <td class="cellClass">
                    <div class="divClass">
                        <p>The creation of the user has started.</p><p id="jobId" hidden>jobId</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" id="closeButton" class="mdl-button">Close</button>
        <button type="button" id="informationButton" class="mdl-button">Information</button>
    </div>
</dialog>

<script src="~/js/CreateUser.js"></script>
<script src="~/js/processinguser.js"></script>
<script src="~/js/Dialog.js"></script>
